* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    border: none;
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(135deg, #FED2B6, #F9BF9F, #F6AE84);
}

.todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    background: #FFF;
    box-shadow: 10px 10px 10px 0px rgba(119, 89, 89, 0.7);
    width: 475px;
    height: 710px;
    position: relative;
}

.todo__title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 475px;
    gap: 15px;
    margin-top: 45px;
    margin-bottom: 25px;
    cursor: default;
}

.todo__title-main {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7887E5;
    text-align: center;
    font-size: 26px;
}

.todo__title-sub {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #928CDD;
    text-align: center;
    font-size: 20px;
}

.todo__input {
    display: flex;
    width: 330px;
    height: 40px;
    border: solid 0.1px #606ab9 ;
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    justify-content: space-between;
}

.todo__input-text {
    width: 260px;
    color: #606692;
    font-size: 20px;
    font-weight: 0;
}

.todo__add-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    height: 25px;
    border-radius: 8px;
}

.todo__add-txt {
    color: #928CDD;
    font-size: 15px;
    font-weight: 700;
}

.todo__add-icon {
    display: block;
    background: url('./public/plus-solid.svg') no-repeat center;
    width: 15px;
    height: 15px;
}

.todo__list {
    height: 460px;
    width: 475px;
    justify-content: left;
    overflow: scroll;
}

.todo__list::-webkit-scrollbar {
    display: none;
}

.todo__list-form {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 20px;
}

.todo__list-item {
    cursor: default;
    display: flex;
    padding-left: 45px;
    padding-bottom: 5px;
    padding-top: 5px;
    flex-direction: row;
    gap: 30px;
    color: #989BE9;
    align-items: center;
    text-align: center;
    position: relative;
    height: 35px;
}

.todo__list-item:hover {
    box-shadow: 0px 0px 20px 0px rgba(161, 113, 84, 0.7);
} 

.todo__list-check {
    display: block;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    align-items: center;
}

.todo__list-text {
    font-size: 20px;
    font-weight: 700;
    max-width: 280px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.todo__list-input {
    display: none;
    left: 16%;
    font-size: 20px;
    font-weight: 700;
    color: #606692;
    background-color:#fff ;
    position: absolute;
    justify-content: center;
    align-items: center;
    max-width: 280px;
    max-height: 20px;
    min-height: 26px;
    padding: 5px;
    padding-left: 20px;
}

.todo__list-time {
    color: #C3C5FD;
    font-size: 16px;
    position: absolute;
    right: 32px;
}

.todo__list-delete {
    display: block;
    color: #C3C5FD;
    font-size: 16px;
    position: absolute;
    right: 3px;
    top: 0%;
    cursor: pointer;
}

.todo__list-delete:hover {
    color: #fdc3c3;
}

.todo__scroll {
    position: absolute;
    left: 80px;
    bottom: 9%;
}

.todo__bottom-icon {
    position: absolute;
    width: 350px;
    height: 0px;
    background:linear-gradient(90deg, #FFF, #d0d1fa, #d0d1fa, #c0c1fd, #d0d1fa, #d0d1fa, #FFF) ;
    display: block;
}

.todo__scroll-icon {
    position: absolute;
    background: url('./public/caret-down-solid.svg') no-repeat center;
    width: 30px;
    height: 30px;
    display: none;
    right: -150px;
    top: -10px;
}
.todo__footer {
    display: flex;
    width: 420px;
    flex-direction: row;
    justify-content: space-between;
}

.todo__tasks-total {
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: #928CDD;
    text-align: center;
    font-size: 15px;
    cursor: default;
    font-weight: 700;
    align-items: center;
}

.todo__button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    height: 25px;
    border-radius: 8px;
    width: 120px;
    font-weight: 700;
}

.todo__button-txt {
    color: #928CDD;
    text-align: center;
    font-size: 15px;

}

.todo__button-icon {
    display: block;
    background: url('./public/plus-solid.svg') no-repeat center;
    width: 15px;
    height: 15px;
}

.todo__button:active,
.todo__button:hover {
    background-color: #928CDD;
}

.todo__button:active .todo__button-txt,
.todo__button:hover .todo__button-txt {
    color: #fff;
}

.todo__button:active .todo__button-icon,
.todo__button:hover .todo__button-icon {
    background: url('./public/plus-solid-white.svg') no-repeat center;
}